version: '3.7'

services:
  mysql:
    image: mysql:8.0.43
    container_name: mysql
    networks:
      - app-network
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - '${MYSQL_PORT:-3306}:3306'
    environment:
      MYSQL_CHARACTER_SET: utf8mb4
      MYSQL_COLLATE: utf8mb4_unicode_ci
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_ROOT_HOST: '%'
    restart: unless-stopped

networks:
  app-network:
    name: app-network
    driver: bridge

volumes:
  db-data:
    driver: local
    driver_opts:
      type: none
      device: ./db-data
      o: bind
