version: '3.7'

services:
  redis:
    image: redis:6.0.3-alpine
    container_name: redis
    networks:
      - app-network
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - ./.redis-data:/data
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]
    restart: unless-stopped

  redis-exporter:
    image: oliver006/redis_exporter:latest
    networks:
      - app-network
    ports:
      - "9121:9121"
    environment:
      - REDIS_ADDR=redis://:redis1234@redis:6379
    restart: unless-stopped
    depends_on:
      - redis

networks:
  app-network:
    name: redis-app-network
    driver: bridge
